<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073180144883-u5k9s4t7l2gqoanjgrliju9l5ped3p7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073180144883-u5k9s4t7l2gqoanjgrliju9l5ped3p7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073180144883-34brsgrqhckc1d7llsg0d8i1nain5mug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUnszi2vvwTlmMdSrs-WdM0dUlOA2k18s</string>
	<key>GCM_SENDER_ID</key>
	<string>1073180144883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentworthy.app</string>
	<key>PROJECT_ID</key>
	<string>rentworthy-340fd</string>
	<key>STORAGE_BUCKET</key>
	<string>rentworthy-340fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073180144883:ios:dd78f8ef79ac829cd53386</string>
	<key>DATABASE_URL</key>
	<string>https://rentworthy-340fd-default-rtdb.firebaseio.com</string>
</dict>
</plist>